<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css' ) }}">
    <title>Checkerboard</title>
</head>

<body>
    <h1>***Checkerboard***</h1>
    <table align="center" width="800" height="200" border="1">
        {% for square in range(0, loop_this_number_of_times) %}
        <tr>
            {% for j in range(0, loop_this_number_of_times2)%}
            <td class="black"></td>
            <td class="red"></td>
            {%endfor%}
        </tr>
        <tr>
            {% for j in range(0, loop_this_number_of_times2)%}
            <td class="red"></td>
            <td class="black"></td>

            {%endfor%}
        </tr>
        {%endfor%}


    </table>
</body>

</html>